/* ESTILOS GENERALES */

:root{
  /* Paleta de Verdes */
    --green-primary:#416D50;
    --green-secondary: #76B536;
    --gren-light: #E9F3ED;
    --green-dark: #00210B;
    /* PALETA DE COLORES 2OP */
    --green-primary2:#2D8D79;
    --green-secondary2: #8FC79A;
    --green-dark2: #5E9387;
    --green-light2: #CEE9B6;
    /* PALETA DE COLORES ARCADIA */
    --green-blue-arcadia: #A7F2E4;
    --green-color-text:#01261C;
    --green-color-hover-link: #4ABF2A;
    --green-lemon-arcadia: #98D936;
    --green-coffe-light-arcadia: #F2ECE4;
    /* PALETA COLORES COMPLEMENTARIOS */
    --green-color-primary: #D5F5CC;
    --green-bg1-btn: #004036;
    --green-bg2-btn: #11FF84;
    /* PALETA DE GRISES */
    --grey-border-btnsocial: #e9ecef;
    --grey-color-btnsocial: #666;
    --grey-color-text: #999999;
    --grey-text-muted: #acacac;
    --white-color: #FFFFFF;
    --black-color: #000000;
    /* COLORES ICONOS REDES */
    --orange-color: #fa4529;
    --color-logo-twwitter: #1DA1F2;
    --color-logo-face:#4867AA;
    --color-logo-ig: #F70182;
    --color-logo-github: #000;
    --color-logo-gitlab: #DB4128;
    
}

/*  */
*{
  font-family: 'Rubik', sans-serif;

}

/* ESTIOS BG HEADER */
.bg-header{
  background-color: var(--gren-light);
}
.bg-intro{
  background-image: url("/assets/img/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  color: white;
}
/* ESTILOS DE TEXTOS */
.nameDev{
  font-weight: 700;
  color: var(--green-primary);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;


}
.latname{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4em;
  font-family: 'Poppins', sans-serif;
}
 .titleMute{
  color: var(--grey-text-muted);
  text-align: left;
  font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  line-height: 2;
}
.text-mute{
  color: var(--green-color-text);
   font-size: .9em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  line-height: 2; 
}
.title4{
  color: var(--green-primary2);
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.3rem;
}
.iconCert{
  color: var(--color-logo-gitlab);
}
a{
  text-decoration: none;
  color: var(--black-color);
}
.certificaciones h2{
  font-weight: 700;
  color: var(--green-primary2);
  font-size: 2rem;
  text-transform: uppercase;
}
.certi_title span{
  text-transform: uppercase;
  font-size: .8em;
  color: var(--grey-color-text);
  font-weight: 500;
}
.certi_title h6{
  font-weight: 700;
  line-height: 1.5;
  color: var(--green-color-text);
}
.certi_title h6:hover,
.certi_title h6:focus{
  color: var(--green-primary2);
  cursor: pointer;
}
 .divider{
  color: red;
  background-color: red;
  height: 4px;
  width: 100%;
  
}
/* CARDATA */
.dataImp{
  width: 85%;
  border-top: 1px solid black;
}
.dataImp .col-8{
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  text-align: left;
}
.dataImp .col-4{
  font-weight: 800;
  font-size: 4em;
}
/* DATOS DE CONTACTO */
/* ul {
  width: 100%;
  text-align: left;
  padding:  0rem;
  list-style: none;
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 2;
  margin:  0;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: .2px inset var(--grey-text-muted);

}
ul li{
  margin: 2rem 0;
  color: var(--grey-color-text);

}
ul li i{
  color: var(--grey-text-muted);
  padding: .5rem ;
  margin-right: 20px;
  border-right: .6px solid var(--grey-text-muted);
}
ul  li:hover i {
  margin-left: 20px;
  color: var(--green-primary2);
} */
.cardData{
  border: 1px solid transparent;
}
.cardData:hover{
  border: 1px solid var(--green-primary2);
}
.sectionCert .title5:hover{
  text-decoration: underline 1px var(--orange-color);
  color: var(--color-logo-gitlab);
}
/* TITULO CERTIFICACION */
.title-Certi{
  color: var(--green-primary);
  font-weight: 600;
}
.text-orange{
  color: var(--green-color-hover-link)
}
/* ESTILOS FOTO BRAQUETES */

.profilePic{
  border-radius: 10%;
  
}
/*ESTILOS BOTONES*/
.btn-social{
  font-size: 1rem;
  align-items: center;
  text-align: center;
  width: 2.5rem;
  padding: 10px;
  height: 2.5rem;
  line-height: 1;
  margin: .5rem;
  border: solid 1px var(--green-primary);
  border-radius: 50% ;
  color: var(--green-primary);
}
.btn-tw:hover, .btn-tw:focus{
  background-color: var(--color-logo-twwitter);
  color: var(--white-color);
  border: solid 1px #1DA1F2;
}
.btn-fa:hover, .btn-fa:focus{
  background-color: var(--color-logo-face);
  color: var(--white-color);
}
.btn-ig:hover, .btn-ig:focus{
  background-color: var(--color-logo-ig);
  color: var(--white-color);
}
.btn-gh:hover, .btn-gh:focus{
  background-color: var(--color-logo-github);
  color: var(--white-color);
}
.btn-gl:hover, .btn-gl:focus{
  background-color: var(--color-logo-gitlab);
  color: var(--white-color);
}
.button{
  font-weight: 700;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  white-space: nowrap;
  font-size: 1.125rem;
  line-height: 1;
  margin: 10px;
  border: 1px;
  outline: 0;
}
.btn-primario{
  background-color: var(--orange-color);
  color: var(--white-color);
}
.btn-primario:hover{
  background-color: var(--black-color);
  color: var(--white-color);
}
.btn-secundario{
  border: solid .5px var(--black-color);
}
 .btn-secundario:hover{
  background-color: var(--white-color);
  color: var(--orange-color);
  border: .5px solid var(--orange-color);
}
.btn-terciario:hover{
  color: var(--orange-color);
  text-decoration: underline 2px var(--orange-color);

}
.text-link{
  color: var(--green-primary2);
  font-weight: 600;

}
.text-link:hover{
  text-decoration: underline;
  color: var(--green-bg1-btn);

}
.link-contact{
  margin: 15px 0;
}
.link-contact:hover{
  font-weight: 600;
  color: var(--color-logo-gitlab);
}
/* ESTILOS LINKS NAVBAR */
.navbar{
    text-transform: uppercase;
}
.navbar-brand{
    color: var(--gren-light);
    font-weight: 600;
    font-size: 1.2rem;
}
.navbar-brand:hover{
  cursor: pointer;
  color: var(--gren-light);
}
.bg-navbar{
    background-color: var(--green-primary);
}
.navbar-toggler{
    font-weight: 400;
    border: none;
    background-color: var(--green-bg1-btn);
    color: var(--white-color);
}
.navbar-toggler:active{
  border: none;
  outline: none;
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    margin:0.25em;
    padding: 0.25em 0.25em;
    color: var(--gren-light);
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.15rem;
    opacity: 0.5;
  }
  .btn-close:hover {
    color: var(--gren-light);
    text-decoration: none;
    opacity: 0.75;
  }
  .btn-close:focus {
    outline: 0;
    opacity: 1;
  }
  .btn-close:disabled, .btn-close.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 0.25;
  }
  

 /* .navbar-toggler {
    color: white;
    border-color: rgba(255, 255, 255, 0.1);
  }
   .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%255, 255,255,025%' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4  15h22M4 /%3e%3c/svg%3e");
  } */
   .navbar-text {
    color: white;
}
   .navbar-text a,

  .navbar-text a:hover,

.navbar-text a:focus {
    background-color: var(--green-color-text);
    color: rgb(255, 255, 255);
  }
  
.nav-link{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--gren-light);
    font-weight: 700;
    letter-spacing: 4px;
    font-size: 1.075rem;
    line-height: 1;
    text-underline-offset: 10px;
    margin: .5rem 2rem;
    padding: 1.2rem .8rem;
}
.nav-link:hover, .nav-link:focus{
    color: var(--gren-light);
    text-decoration: underline  3px var(--green-color-hover-link);
}
.nav-link:focus + .nav-link, .nav-link:focus{
    color: var(--green-color-hover-link);
}
.nav-link:active{
    color: var(--green-color-hover-link);
}
/* ESTILOS SECCIÓN DE CERTIFICACIONES */
.sectionCert{
  cursor: pointer;
  border-top: solid 2px var(--black-color);
  border-bottom: solid 2px var(--black-color);
}
.sectionCert:hover  {
  background-color: var(--grey-border-btnsocial);
}
/* ESTILOS CARDS DE SKILLS */
.card-skill{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 100%;
  text-transform: uppercase;
  color: var(--grey-color-text);
  border-radius: 5px;
  background-color: #f7f7f7;
  filter: grayscale(5);
}
.card-skill>span{
  font-weight: 700;
  line-height: 1.3;
  padding-top: 15px;


}
.card-skill>img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  vertical-align: middle;
}
.card-skill:hover{
  filter: grayscale(0);
  cursor: pointer;
  filter: drop-shadow( 14px 10px 10px  #2f93f03d);
  color: var(--color-logo-github);
  background-color: #2f92f03d ;
}
/* ESTILOS CARD-PROJECT */
figure{
  position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 100%;
	max-width: 100%;
	max-height: 50vh;
	width: 100%;
	background: var(--green-dark2);
	text-align: center;
	cursor: pointer;
}
figure img{
  position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}
figure figcaption{
  padding: 2%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: visible;
	backface-visibility: hidden;
}
figure figcaption::before,
figure figcaption::after{
  pointer-events: none;
}
figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
 figure h6 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h6 span {
	font-weight: 800;
}

 figure h6,
 figure p {
	margin:0 2% ;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0em;
	padding: 1em;
	height: 80px;
	background: var(--gren-light);
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
figure.effect-zoe h6 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	color: #3c4a50;
  font-weight: 700;
	font-size: 1.4em;
  padding:  1%;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: var(--color-logo-gitlab);
}

figure.effect-zoe p.description {
	position: relative;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	-webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h6,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a i::before {
	display: inline-block;
	/* font-family: 'feathericons';
	speak: none; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



figure.effect-zoe h6 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h6,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h6 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/* ESTILOS FOOTER */
footer{
  background-color: var(--green-bg1-btn);
}