<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="card" style="width: 18rem;">
  <img src="https://scontent.fmtt1-1.fna.fbcdn.net/v/t1.6435-9/116155210_1651395078358880_4357662988773605646_n.jpg?_nc_cat=107&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeF0KuN8SRrPcEdwyfBn2IIhAaYqsYt5apkBpiqxi3lqmUfxSaaaaQfxQIQ6zw8fpNm683IHlPJWOkxfbSdsxRJh&_nc_ohc=gCmEATryzrUAX9kEwPa&_nc_ht=scontent.fmtt1-1.fna&oh=86a6190d6eae02f8712af3a707b37ad2&oe=6132A828" class="card-img-top" alt="Foto">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>